<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: "986723995739-mnopji1u2io9ct9bug692670e2vd5ke1.apps.googleusercontent.com"
      });
    });
  }
</script>
<button id="signinButton">Google Signin</button>
<div id="message"></div>
<script>
  $('#signinButton').click(function() {
    function signInCallback(authResult){
      if (authResult['code']){
        $('#signinButton').attr('style', 'display: none');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          headers: {
          'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success:function(result){
          
                
                  window.location.href = "{{url_for('home')}}";
          },
          processData:false,
          data:authResult['code']
        });
      } else{
        console.log('login Failed from google');
        $('#message').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
